{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>LKH BLOG</title>
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
    </head>
    <body>
        <header>
            <div class="wrap clearfix">
                <h1 class="logo"><a href="/">LKH BLOG</a></h1>
                {% if user.is_authenticated %}
                    <nav class="gnb">
                        <p class="Logout">
                            안녕하세요. <span class="username">{{ user.username }}</span>님
                            <a href="{% url 'logout' %}">Log out</a>
                        </p>
                        <div class="writer">
                            <a href="{% url 'blog:post_new' %}">새글쓰기</a>
                            <a href="{% url 'blog:post_draft_list' %}">초안목록보기</a>
                        </div>
                {% else %}
                        <a class="" href="{% url 'login' %}">로그인</a>
                    </nav>
                {% endif %}
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="wrap">
                <p class="copy fc0">Copyright &copy; applewine.co.kr All right reserved</p>
            </div>
        </footer>
    </body>
</html>