<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}홈{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
    </head>
    <body>
        <header>
            <div class="wrap clearfix">
                <h1 class="logo"><a class="LKH" href="/">LKH</a></h1>
                <nav class="gnb">
                    <ul>
                        <li><a class="f16_c_f" href="{% url 'blog:post_list' %}">블로그</a></li>
                        <li><a class="f16_c_f" href="{% url 'board:post_list' %}">게시판</a></li>
                    </ul>
                </nav>
                <nav class="linksub">
                    {% if user.is_authenticated %}
                        <li><p class="f16_c_f">안녕하세요. '{{user.first_name}}'님</p></li>
                        <li><a class="f16_c_f logout" href="{% url 'logout' %}">로그아웃</a></li>
                        {% else %}
                        <a href="{% url 'login' %}">로그인</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="wrap">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>